<pre><code [highlight]="this.javascriptService.checkRepeated.toString()"></code></pre>
<pre><code [highlight]="this.javascriptService.confirmEnding.toString()"></code></pre>
<pre><code [highlight]="this.javascriptService.findLongestWordLength.toString()"></code></pre>
<pre><code [highlight]="this.javascriptService.repeatStringNumTimes.toString()"></code></pre>
<pre><code [highlight]="this.javascriptService.isPalindrome.toString()"></code></pre>
<pre><code [highlight]="this.javascriptService.mutation.toString()"></code></pre>
<pre><code [highlight]="this.javascriptService.getIndexToIns.toString()"></code></pre>
<pre><code [highlight]="this.javascriptService.titleCase.toString()"></code></pre>
<pre><code [highlight]="this.javascriptService.truncateString.toString()"></code></pre>
